<a href="/logins/delete">Log out</a>
<br>
<br>
<p>Update To Do details:</p>
<br>

<form action="/todos/<%= @todo.id %>/update" method="post">
  <p>
    Title:
    <input type="text" name="title" value="<%= @todo.title %>">
  </p>
  <p> 
    Description:
    <input type="text" name="description" value="<%= @todo.description %>">
  </p>
  <p>  
    Task Owner:
    <select name="user_id">
      <option>Select an owner...</option>

      <% @todo_owner.each do |owner| %>
        <option value="<%= owner.id %>"> 
          <%= "selected" if @todo.user_id == owner.id %>
          <%= owner.name %>
        </option>
      <% end %>
    </select>
  </p>
  <p>
    Category:
    <select name="category_id">
      <option>Select a category...</option>

      <% @todo_category_update.each do |x| %>
        <option value="<%= x.id %>">
        <%= x.name %></option>
      <% end %>
    </select>
  </p>
    Completed?
    <select name="completed">
      <option>Select...</option> 
      <option value="<% true %>"><%= Yes %></option>
      <option value="<% false %>"><%= No %></option>
      <% end %>
    </select>
  </p>
</form> 