<a href="/logins/delete">Log out</a>
<br>
<br>
<h2>All To Do Lists:</h2>

<% @todos.each do |x| %>
  <p>
    <a href="todos/<%= x.id %>"><%= x.title %> </a>
    : <%= x.user_name %> 
  </p>
  <p><i> <%= x.description %> </i></p>
  <p>Category: <%= x.category_name %></p>

  <form action="todos/<%= x.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
    <form action="todos/<%= x.id %>/edit" method="get">
    <input type="submit" value="Update">
  </form>
  <br>
<% end %>



<br>
<br>
<br>
<p><a href="/">Home</a></p>

