<h2>All To Do Lists:</h2>

<% @todo_lists.each do |x| %>
  <p>
    <a href="all_todos/<%= x.id %>">
      <%= x.title %>
    </a>
    : <%= x.user_id %> 
  </p>
  <p><i><%= x.description %></i></p>
  

  <form action="delete_todo/<%= x.id %>" method="get">
    <input type="submit" value="Delete">
  </form>
    <form action="update_todo/<%= x.id %>" method="get">
    <input type="submit" value="Update">
  </form>
  <br>
<% end %>

<br>
<br>
<br>
<p><a href="/">Home</a></p>


